body {
	padding-bottom:50px;
}

#topside-bar { margin:0; }
#topside-bar li { line-height:12px; }
#topside-bar li > a {
	padding-top: 5px;
	padding-bottom: 7px;
	margin-top: 1px;
	margin-bottom: 2px;
}

#leftside-bar {
	float:left;
	width:36px;
}
#leftside-bar ul.sigils {
	list-style:none;
	margin-left:0;
}
#leftside-bar ul.sigils li {
	font-size:24px;
	line-height:32px;
}
#leftside-bar ul.sigils li.divider {
	font-size:12px;
	line-height: 10px;
	padding-top: 1px;
	color: #888;
}

.sigils i, .sigil {
}
.sigils i.charged, .sigil.charged {
	text-shadow: 0 0 15px rgb(204, 122, 0), 0 0 6px rgb(226, 136, 0), 0 0 2px rgb(170, 88, 0), 0 0 1px #666;
}
.sigils i:hover, .sigil:hover {
	text-shadow:0 0 6px #08c, 0 0 2px #05a, 0 0 3px #666;
	color: #fafafa;
	cursor: pointer;
}

#center {
	margin-left:40px;
}

.client-region {
	display:inline-block;
	vertical-align:top;
}