body {
	padding-bottom:50px;
}
a { color:#06c }

#topside-bar { position:fixed; z-index:100; width:100%; }
#topside-bar form { margin:0 }
#topside-bar ul { margin:0; }
#topside-bar li { line-height:12px; }
#topside-bar li > a {
	padding-top: 5px;
	padding-bottom: 7px;
	margin-top: 1px;
	margin-bottom: 2px;
}
#topside-bar form > a { float:right; padding:5px; }
#topside-bar .torch { color:rgb(218, 0, 0); }
#topside-bar .reset { color:rgb(30, 156, 35); }

#leftside-bar {
	position:fixed;
	top:26px;
	z-index:100;

	width:55px;
    height:100%;

    padding-left:13px;
    padding-top:14px;

    background:#fff;
}
#leftside-bar ul.sigils {
	list-style:none;
	margin-left:0;
}
#leftside-bar ul.sigils li {
	font-size:28px;
	line-height:40px;
}
#leftside-bar ul.sigils li.divider {
	font-size:12px;
	line-height: 10px;
	padding-top: 1px;
    text-align:center;
    margin-left:-15px;
	color: #ddd;
}

.sigils i, .sigil {
    opacity:0.5;
}
.sigils i.charged, .sigil.charged {
	text-shadow: 0 0 15px rgb(204, 122, 0), 0 0 6px rgb(226, 136, 0), 0 0 2px rgb(170, 88, 0), 0 0 1px #666;
}
.sigils i:hover, .sigil:hover {
	opacity:1.0;
	cursor: pointer;
}

#center {
	position:absolute;
	height:100%; width:100%;

	left:70px; top:26px;

	/*-moz-column-count: 3;
	-moz-column-gap: 0;
	-webkit-column-count: 3;
	-webkit-column-gap: 0;
	column-count: 3;
	column-gap: 0;*/
    -moz-column-width:500px;
    -webkit-column-width:500px;
    column-width:500px;
}
#center:not(.drophover) {
	border:1px solid #fff; /* so we can add borders in other states and not change layout */
}

.client-region {
	vertical-align:top;
	padding:0.75em;
	margin:0.25em;
	border:1px solid #fff; /* so we can add borders in other states and not change layout */

	max-width:500px;
	max-height:800px;
	overflow:hidden;

    -webkit-transition: max-height .5s ease-in-out;
}
.client-region.init { max-height:0 }
.drophover {
	border:1px solid #ccc;
	box-shadow:inset 0 0 6px rgba(0,0,0,0.35);
}