{{message}}
<form method="post" action="httpl://{{domain}}/messages/.new">
	<div class="controls {{errors.recipientState}}">
		<input class="input-block-level" type="text" required name="recipient" placeholder="Recipient" value="{{recipient}}" />
		{{errors.recipientHelp}}
	</div>
	<div class="controls {{errors.subjectState}}">
		<input class="input-block-level" type="text" name="subject" placeholder="Subject" value="{{subject}}" />
		{{errors.subjectHelp}}
	</div>
	<div class="controls {{errors.contentState}}">
		<textarea class="input-block-level" name="content" rows="20">{{content}}</textarea>
		{{errors.contentHelp}}
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>