<div class="accordion">
	<div class="accordion-group">
		<div class="accordion-heading"><a class="accordion-toggle muted" data-toggle="collapse" href="#contacts1">Service</a></div>
		<div id="contacts1" class="accordion-body collapse in">
			<div class="accordion-inner" style="padding-left: 0; padding-right: 0;">
				<ul class="nav nav-list" style="margin: 0">
					<li><a data-toggle="nav" href="#">Docs Main</a></li>
					<li><a data-toggle="nav" href="#">Lunr.js Index</a></li>
					<li><a data-toggle="nav" href="#">Feed Interface</a></li>
					<li><a data-toggle="nav" href="#">RSS Feed Proxy</a></li>
					<li class="active"><a data-toggle="nav" href="#">Inbox Interface</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>