<div style="margin-bottom: 1em">
	<div class="btn-group">
		<button class="btn dropdown-toggle" data-toggle="dropdown">New Message <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="#">Webmail</a></li>
			<li><a href="#">REST pipe</a></li>
			<li><a href="#">BASH pipe</a></li>
		</ul>
	</div>
</div>

<div class="row-fluid">
	<div class="span2" data-client-region="httpl://{{domain}}/contacts"></div>
	<div class="span4" data-client-region="httpl://{{domain}}/messages/.new"></div>
	<div class="span6" data-client-region="httpl://{{domain}}/messages"></div>
</div>